*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1600px;
  font-family: var(--main-font);
  color: var(--main-color);
}

figure {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

.section {
  padding: 94px 0;
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.link:hover, .link:focus {
  color: var(--blue-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page-header {
    padding: 16px 0;
    border-bottom: 1px solid var(--header-border);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid var(--header-border);
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--header-border);
    background: var(--white-color);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo__header {
    font-size: 24px;
    line-height: 1.167;
  }
  .logo__header:hover, .logo__header:focus {
    color: var(--blue-color);
  }
  .logo__header--text {
    color: var(--blue-color);
  }
  .logo__footer {
    margin: 0 auto;
    font-size: 24px;
    line-height: 1.167;
    text-decoration: none;
    color: var(--blue-color);
  }
  .logo__footer--text {
    color: var(--white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo__footer--text:hover {
    color: var(--blue-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo__header {
    font-size: 24px;
    line-height: 1.167;
  }
  .logo__header:hover, .logo__header:focus {
    color: var(--blue-color);
  }
  .logo__header--text {
    color: var(--blue-color);
  }
  .logo__footer {
    font-size: 24px;
    line-height: 1.167;
    text-decoration: none;
    color: var(--blue-color);
  }
  .logo__footer--text {
    color: var(--white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo__footer--text:hover {
    color: var(--blue-color);
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo__header {
    margin-right: 93px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 26px;
    line-height: 1.19;
  }
  .logo__header:hover, .logo__header:focus {
    color: var(--blue-color);
  }
  .logo__header--text {
    color: var(--blue-color);
  }
  .logo__footer {
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--blue-color);
  }
  .logo__footer--text {
    color: var(--white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo__footer--text:hover {
    color: var(--blue-color);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation,
  .contact__list {
    display: none;
  }
  .mobile-menu-open {
    display: flex;
    margin-left: auto;
    margin-right: 8px;
    padding: 0;
    border: none;
    background: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-open:hover, .mobile-menu-open:focus {
    fill: var(--blue-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-menu-open {
    display: none;
  }
  .navigation {
    display: flex;
    margin-left: auto;
  }
  .navigation__list {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .navigation__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation__item:not(:last-child) {
    margin-right: 46px;
  }
  .navigation__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--blue-color);
  }
  .navigation__link--active::after {
    content: "";
    position: absolute;
    top: 50px;
    display: block;
    background-color: var(--blue-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
  .contact__list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: auto;
    list-style: none;
  }
  .contact__item {
    padding-top: 10px;
  }
  .contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--grey-color);
    fill: var(--grey-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--blue-color);
    fill: var(--blue-color);
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu-open {
    display: none;
  }
  .navigation {
    display: flex;
  }
  .navigation__list {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .navigation__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation__item:not(:last-child) {
    margin-right: 46px;
  }
  .navigation__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--blue-color);
  }
  .navigation__link--active::after {
    content: "";
    position: absolute;
    top: 50px;
    display: block;
    background-color: var(--blue-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
  .contact__list {
    display: flex;
    justify-content: center;
    margin-left: auto;
    list-style: none;
  }
  .contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--grey-color);
    fill: var(--grey-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--blue-color);
    fill: var(--blue-color);
  }
  .contact__link--mail {
    margin-left: auto;
    margin-right: 30px;
  }
  .contact__link .contact__icon {
    margin-right: 10px;
  }
}

.contact {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--grey-color);
  fill: var(--grey-color);
}

.contact:hover {
  fill: var(--blue-color);
}

.contact-mail {
  margin-left: auto;
  align-items: center;
  margin-right: 30px;
}

.contact__icon {
  margin-right: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background: var(--blue-color);
}

.welcome {
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/background_480.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome__heading {
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.welcome__btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .welcome {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/background_768.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .welcome {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/background_768@2.png");
  }
}

@media screen and (min-width: 1200px) {
  .welcome {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .welcome__heading {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) and (max-width: 1600px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px) and (max-width: 1600px), screen and (min-resolution: 192dpi) and (min-width: 1200px) and (max-width: 1600px), screen and (min-resolution: 2dppx) and (min-width: 1200px) and (max-width: 1600px) {
  .welcome {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/background_1200@2.png");
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .section-lorem {
    margin-top: 60px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .lorem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .lorem__item {
    width: 100%;
    height: 120px;
    margin-bottom: 136px;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--icon-background);
  }
  .lorem__item:not(:last-child) {
    padding-bottom: 25px;
  }
  .lorem__svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    justify-content: center;
  }
  .lorem__heading {
    margin-top: 55px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
  }
  .lorem__text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;
    color: var(--grey-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem {
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .lorem__item {
    width: 354px;
    height: 120px;
    margin-bottom: 190px;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    flex-basis: calc(100%/2-30px);
    border-radius: 4px;
    background-color: var(--icon-background);
  }
  .lorem__svg {
    margin: 24px 144px;
  }
  .lorem__heading {
    margin-top: 55px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .lorem__text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;
    color: var(--grey-color);
  }
}

@media screen and (min-width: 1200px) {
  .lorem {
    display: flex;
    list-style: none;
  }
  .lorem__item {
    width: 270px;
    height: 120px;
    margin-bottom: 134px;
    border-radius: 4px;
    background-color: var(--icon-background);
  }
  .lorem__item:not(:last-child) {
    margin-right: 30px;
  }
  .lorem__svg {
    margin: 25px 100px;
  }
  .lorem__heading {
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .lorem__text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;
    color: var(--grey-color);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about-us {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about-us {
    padding-top: 0px;
  }
  .about-us__list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  .about-us__heading {
    margin-left: 424px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  .about-us__item {
    display: inline-flex;
  }
  .thumb {
    position: relative;
  }
  .thumb__label {
    position: absolute;
    top: 210px;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    background: rgba(47, 48, 58, 0.8);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team-section {
    padding-top: 0;
    background: var(--team-background);
  }
  .team {
    justify-content: center;
    list-style: none;
  }
  .team__heading {
    padding-top: 60px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .team__card {
    width: 100%;
    height: auto;
    padding-bottom: 24px;
    justify-content: center;
    background: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .team__name {
    padding-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.171;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .team__text {
    padding-top: 10px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey-color);
  }
  .social__link {
    width: 44px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--social-icon);
    background-color: transparent;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: 0.4, 0, 0.2, 1;
  }
  .social__link:hover, .social__link:focus {
    fill: var(--white-color);
    background-color: var(--blue-color);
  }
  .social__link:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-section {
    padding-top: 0;
    background: var(--team-background);
  }
  .team {
    margin-top: -30px;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
  .team__heading {
    padding-top: 60px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100%/2-30px);
  }
  .team__card {
    width: 354px;
    height: 536px;
    justify-content: center;
    background: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .team__name {
    padding-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.171;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .team__text {
    padding-top: 10px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey-color);
  }
  .social__link {
    width: 44px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--social-icon);
    background-color: transparent;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: 0.4, 0, 0.2, 1;
  }
  .social__link:hover, .social__link:focus {
    fill: var(--white-color);
    background-color: var(--blue-color);
  }
  .social__link:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section {
    background: var(--team-background);
  }
  .team {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .team__heading {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
  .team__card {
    width: 270px;
    height: 428px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__name {
    padding-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__text {
    padding-top: 10px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey-color);
  }
  .social__link {
    width: 44px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--social-icon);
    background-color: transparent;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: 0.4, 0, 0.2, 1;
  }
  .social__link:hover, .social__link:focus {
    fill: var(--white-color);
    background-color: var(--blue-color);
  }
  .social__link:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients {
    margin-top: -30px;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .clients__heading {
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.178;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .clients__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100%/2-30px);
  }
  .clients__link {
    width: 210px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--social-icon);
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid var(--clients-icon);
    border-radius: 4px;
  }
  .clients__link:hover, .clients__link:focus {
    border-color: var(--blue-color);
    fill: var(--blue-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    margin-top: -30px;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .clients__heading {
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.178;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .clients__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100%/3-30px);
  }
  .clients__link {
    width: 226px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--social-icon);
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid var(--clients-icon);
    border-radius: 4px;
  }
  .clients__link:hover, .clients__link:focus {
    border-color: var(--blue-color);
    fill: var(--blue-color);
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  .clients__heading {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .clients__link {
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--social-icon);
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid var(--clients-icon);
    border-radius: 4px;
  }
  .clients__link:hover, .clients__link:focus {
    border-color: var(--blue-color);
    fill: var(--blue-color);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page-footer__section {
    padding-bottom: 0;
    background: var(--footer-background);
  }
  .page-footer__container {
    padding-bottom: 60px;
    align-items: center;
  }
  .footer-address {
    text-align: center;
  }
  .address__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .address__item {
    margin-top: 9px;
  }
  .address__link {
    font-size: 14px;
    font-style: normal;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--grey-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address__link--nav {
    font-style: normal;
    color: var(--white-color);
  }
  .address__link:hover, .address__link:focus {
    color: var(--blue-color);
  }
  .footer-social {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  }
  .footer-social__heading {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
  }
  .footer-social__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .footer-social__item:not(:last-child) {
    margin-right: 10px;
  }
  .footer-social__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--social-icon);
    background-color: transparent;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: 0.4, 0, 0.2, 1;
  }
  .footer-social__link:hover, .footer-social__link:focus {
    fill: var(--white-color);
    background-color: var(--blue-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
  .page-footer__section {
    padding-bottom: 0;
    background: var(--footer-background);
  }
  .page-footer__container {
    padding-bottom: 60px;
    align-items: center;
  }
  .footer-address {
    margin-right: 144px;
    text-align: center;
  }
  .page-footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .address__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .address__item {
    margin-top: 9px;
  }
  .address__link {
    font-size: 14px;
    font-style: normal;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--grey-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address__link--nav {
    font-style: normal;
    color: var(--white-color);
  }
  .address__link:hover, .address__link:focus {
    color: var(--blue-color);
  }
  .footer-social {
    display: flex;
    flex-direction: column;
  }
  .footer-social__heading {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
  }
  .footer-social__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .footer-social__item:not(:last-child) {
    margin-right: 10px;
  }
  .footer-social__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--social-icon);
    background-color: transparent;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: 0.4, 0, 0.2, 1;
  }
  .footer-social__link:hover, .footer-social__link:focus {
    fill: var(--white-color);
    background-color: var(--blue-color);
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__section {
    background-color: var(--footer-background);
  }
  .page-footer__container {
    display: flex;
  }
  .page-footer__wrapper {
    display: flex;
  }
  .footer-address {
    list-style: none;
  }
  .address {
    width: 247px;
  }
  .address__list {
    margin-top: 20px;
    list-style: none;
  }
  .address__item {
    margin-top: 9px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  .address__link {
    font-style: normal;
    color: var(--grey-color);
  }
  .address__link--nav {
    font-style: normal;
    color: var(--white-color);
  }
  .footer-social {
    margin-left: 70px;
    margin-right: 78px;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer-social__heading {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
  }
  .footer-social__list {
    display: inline-flex;
    justify-content: space-evenly;
    list-style: none;
  }
  .footer-social__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-social__item:not(:last-child) {
    padding-right: 10px;
  }
  .footer-social__link {
    width: 44px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    fill: var(--white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--footer-social-icons);
    border-radius: 50%;
  }
  .footer-social__link:hover, .footer-social__link:focus, .footer-social__link:active {
    fill: var(--white-color);
    background-color: var(--blue-color);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-newsletter {
    margin-top: 60px;
    padding-bottom: 0;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
  }
  .newsletter__heading {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
  }
  .newsletter__input {
    width: 100%;
    height: 50px;
    padding-left: 16px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .newsletter__input:focus {
    border-color: var(--blue-color);
  }
  .newsletter-btn {
    width: 200px;
    height: 50px;
    margin: 20px auto;
    padding-left: 16px;
  }
  .newsletter-btn__icon {
    margin-left: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-newsletter {
    margin-top: 60px;
    padding-bottom: 0;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .newsletter__heading {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
  }
  .newsletter__input {
    width: 450px;
    height: 50px;
    padding-left: 16px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .newsletter__input:focus {
    border-color: var(--blue-color);
  }
  .newsletter-btn {
    width: 200px;
    height: 50px;
    margin: 20px auto;
    padding-left: 16px;
  }
  .newsletter-btn__icon {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter {
    display: flex;
  }
  .newsletter__heading {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
  }
  .newsletter__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .newsletter__input:focus {
    border-color: var(--blue-color);
  }
  .newsletter-btn {
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding-left: 16px;
  }
  .newsletter-btn__icon {
    margin-left: 24px;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.1);
}

.modal {
  position: relative;
  left: 50%;
  top: 50%;
  width: 450px;
  height: 609px;
  transform: translate(-50%, -50%);
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--black-color);
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__heading {
  padding-top: 40px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__wrapper {
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 15px;
  transform: translateY(10%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__label {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}

.modal__label:not(:first-child) {
  margin-top: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  border-color: var(--blue-color);
  outline: none;
}

.modal__input:focus + .modal__icon {
  fill: var(--blue-color);
}

.modal__text {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  outline: none;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text:focus {
  border-color: var(--blue-color);
}

.modal__text::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01 em;
  color: rgba(117, 117, 117, 0.5);
}

.policy__text {
  margin-top: 20px;
  margin-left: 54px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.policy__text::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  border: 2px solid var(--black-color);
  border-radius: 2px;
  opacity: 0.85;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__input:checked + .policy__text::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-color: var(--blue-color);
  border: none;
  opacity: 1;
}

.policy__link {
  text-decoration: underline;
  color: var(--blue-color);
}

.policy__btn {
  width: 200px;
  height: 50px;
  margin: 40px auto 40px auto;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
  .policy__btn {
    margin-top: 30px;
    margin-left: 164px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background-color: var(--white-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__nav-list {
    display: block;
    flex-grow: 1;
    list-style: none;
  }
  .mobile-menu__nav-item:first-child {
    margin-bottom: 36px;
  }
  .mobile-menu__nav-item:last-child {
    margin-top: 32px;
  }
  .mobile-menu__contact-list {
    display: block;
    margin-bottom: 64px;
    list-style: none;
  }
  .mobile-menu__contact-list:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__social-list {
    display: flex;
    list-style: none;
  }
  .mobile-menu__close-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn:hover {
    fill: var(--blue-color);
  }
  .mobile-menu__nav-link {
    font-weight: 500;
    font-size: 40px;
    text-decoration: none;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
    color: var(--blue-color);
  }
  .mobile-menu__contact-item {
    margin-bottom: 32px;
  }
  .mobile-menu__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--blue-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__tel:hover, .mobile-menu__tel:focus {
    color: var(--blue-color);
  }
  .mobile-menu__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--grey-color);
  }
  .mobile-menu__social-item {
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
  }
  .mobile-menu__social-item:not(:first-child)::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: translateX(-10px);
  }
  .mobile-menu__social-link {
    font-size: 18px;
    line-height: 1.22;
    text-decoration: none;
    color: var(--blue-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-section {
    margin-bottom: 40px;
    padding-top: 60px;
    padding-bottom: 0;
  }
  .btn-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  .btn-list__item:not(:last-child) {
    padding-right: 8px;
  }
  .btn-list__item:nth-child(4), .btn-list__item:nth-child(5) {
    padding-top: 15px;
  }
  .btn__button {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: transparent;
    background: var(--button-list-item-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn__button:hover, .btn__button:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-section {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .btn-list {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .btn-list__item:not(:last-child) {
    padding-right: 8px;
  }
  .btn-list__item .btn__button {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: transparent;
    background: var(--button-list-item-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-list__item .btn__button:hover, .btn-list__item .btn__button:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (min-width: 1200px) {
  .btn-section {
    margin-bottom: -50px;
  }
  .btn-list {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .btn-list__item:not(:last-child) {
    padding-right: 8px;
  }
  .btn__button {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--button-list-item-color);
  }
  .btn__button:hover, .btn__button:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .grid-section {
    padding-top: 0;
  }
  .grid {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  .grid__item:not(:last-child) {
    padding-bottom: 30px;
  }
  .card {
    width: 100%;
    height: auto;
    background: var(--white-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .card__title {
    box-sizing: border-box;
    padding-left: 24px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    background: var(--white-color);
    border: 1px solid var(--picture-list-border);
  }
  .card__description {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--grey-color);
  }
  .box {
    position: relative;
    overflow: hidden;
  }
  .box:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .box:hover .overlay {
    transform: translateY(0);
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(33, 150, 243, 0.9);
  }
  .overlay__text {
    padding: 49px 45px 49px 24px;
    margin: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .grid-section {
    padding-top: 0;
    padding-bottom: 0;
  }
  .grid {
    margin-top: -30px;
    margin-left: -30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
  }
  .grid__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100%/2 - 30px);
  }
  .card {
    width: 354px;
    height: 440px;
    background: var(--white-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .card__title {
    box-sizing: border-box;
    padding-left: 24px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    background: var(--white-color);
    border: 1px solid var(--picture-list-border);
  }
  .card__description {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--grey-color);
  }
  .box {
    position: relative;
    overflow: hidden;
  }
  .box:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .box:hover .overlay {
    transform: translateY(0);
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(33, 150, 243, 0.9);
  }
  .overlay__text {
    padding: 49px 45px 49px 24px;
    margin: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);
  }
}

@media screen and (min-width: 1200px) {
  .grid-section {
    padding-top: 0;
  }
  .grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
  }
  .grid__item {
    padding-bottom: 30px;
  }
  .card {
    width: 370px;
    height: 404px;
    background: var(--white-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .card__title {
    box-sizing: border-box;
    padding-left: 24px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    background: var(--white-color);
    border: 1px solid var(--picture-list-border);
  }
  .card__description {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--grey-color);
  }
  .box {
    position: relative;
    overflow: hidden;
  }
  .box:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .box:hover .overlay {
    transform: translateY(0);
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(33, 150, 243, 0.9);
  }
  .overlay__text {
    padding: 49px 45px 49px 24px;
    margin: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);
  }
}

:root {
  --main-font: 'Roboto',
        sans-serif;
  --secondary-font: 'Raleway',
        sans-serif;
  --main-color: #212121;
  --blue-color: #2196f3;
  --grey-color: #757575;
  --white-color: #ffffff;
  --black-color: #000000;
  --header-border: #ececec;
  --title-bg-overlay: #2f303a;
  --team-background: #f5f4fa;
  --button-list-item-color: #f5f4fa;
  --icon-background: #f5f4fa;
  --picture-list-border: #eeeeee;
  --social-icon: #AFB1B8;
  --clients-icon: #AFB1B8;
  --footer-background: #2f303a;
  --footer-social-icons: rgba(255, 255, 255, 0.1);
}

.visually-hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */