@media screen and (min-width: 320px) and (max-width: 767px) {
    
    .about-us {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    
    .about-us {
        display: none;
    }
}

@media screen and (min-width: 1200px) {

.about-us {
    padding-top: 0px;
}

.about-us__list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.about-us__heading {
    margin-left: 424px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.about-us__item {
    display: inline-flex;
}

.thumb {
    position: relative;
}

.thumb__label {
    position: absolute;
    top: 210px;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    background: rgba(47, 48, 58, 0.8);
}
}