@media screen and (min-width: 1200px) {

.footer-address {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.address {
    width: 247px;
}

.address__list {
    margin-top: 20px;
    list-style: none;
}

.address__item {
    margin-top: 9px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address__link {
    font-style: normal;
    color: var(--grey-color);
}

.address__link--nav {
    font-style: normal;
    color: var(--white-color);
}
}