.page-header {
    
    padding: 16px 0;
    border-bottom: 1px solid var(--header-border);
}

@media screen and (min-width: 768px) {

.page-header {
    padding-top: 21px;
    padding-bottom: 21px;
}
}

@media screen and (min-width: 1200px) {

.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--header-border);
    background: var(--white-color);
}
}