.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__header {
    margin-right: 93px;
    text-decoration: none;

    &:hover,
    &:focus {
        color: var(--blue-color);
    }

    &--text {
        color: var(--blue-color);
    }
}

.logo__footer {
    text-decoration: none;
    color: var(--blue-color);

    &--text {
        color: var(--white-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--text:hover {
        color: var(--blue-color);
    }
}