.lorem__list {
    display: flex;
    list-style: none;
}

.lorem__item {

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.lorem__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.lorem__icon {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-background);
    border-radius: 4px;
}

.lorem__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;
    color: var(--grey-color);
}