@media screen and (min-width:320px) and (max-width:767px) {
    .navigation,
    .contact__list {
        display: none;
    }

    .mobile-menu-open {
        display: flex;
        margin-left: auto;
        margin-right: 8px;
        padding: 0;
        border: none;
        background: none;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
            &:hover,
            &:focus {
                fill: var(--blue-color);
    }
}
}

@media screen and (min-width:768px) and (max-width:1199px) {

    .mobile-menu-open {
        display: none;
    }

    .navigation {
        display: flex;
        margin-left: auto;

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
    }
    }

    .navigation__item {
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
            margin-right: 46px;
        }
    }

    .navigation__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--main-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--blue-color);
        }

        &--active::after {
        content: "";
        margin-top: 28px;
        display: block;
        background-color: var(--blue-color);
        width: 100%;
        height: 4px;
        border-radius: 2px;
    }
}
    .contact__list {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-left: auto;
        list-style: none;
    }

    .contact__item {
        padding-top: 10px;
    }

    .contact__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--grey-color);
        fill: var(--grey-color);
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--blue-color);
            fill: var(--blue-color);
        }
    }   
}

@media screen and (min-width: 1200px) {

    .mobile-menu-open {
        display: none;
    }

    .navigation {
            display: flex;
    
            &__list {
                display: flex;
                align-items: center;
                list-style: none;
            }
        }
    
        .navigation__item {
            display: flex;
            justify-content: center;
            align-items: center;
    
            &:not(:last-child) {
                margin-right: 46px;
            }
        }
    
        .navigation__link {
            position: relative;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.143;
            letter-spacing: 0.02em;
            text-decoration: none;
            color: var(--main-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                color: var(--blue-color);
            }
    
            &--active::after {
                content: "";
                position: absolute;
                top: 50px;
                display: block;
                background-color: var(--blue-color);
                width: 100%;
                height: 4px;
                border-radius: 2px;
            }
        }
    
        .contact__list {
            display: flex;
            justify-content: center;
            margin-left: auto;
            list-style: none;
        }
    
        .contact__link {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.142;
            letter-spacing: 0.02em;
            text-decoration: none;
            color: var(--grey-color);
            fill: var(--grey-color);
            transition-property: color, fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                color: var(--blue-color);
                fill: var(--blue-color);
            }

            &--mail {
                margin-left: auto;
                margin-right: 30px;
        }

        .contact__icon {
            margin-right: 10px;
        }
}
}