@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer-newsletter {
        margin-top: 60px;
    }
    
    .newsletter {
        display: flex;
        flex-direction: column;

        &__heading {
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-align: center;
            text-transform: uppercase;
            color: var(--white-color)
        }

        &__input {
            width: 100%;
            height: 50px;
            padding-left: 16px;
            outline: none;
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-sizing: border-box;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            color: rgba(255, 255, 255, 0.6);
            background-color: transparent;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

                &:focus {
                    border-color: var(--blue-color);
                }
        }
    }
    
    .newsletter-btn {
        width: 200px;
        height: 50px;
        margin: 20px auto;
        padding-left: 16px;
    }

    .newsletter-btn__icon {
        margin-left: 24px;
}
}

@media screen and (min-width: 1200px) {

.newsletter {
    display: flex;
}

.newsletter__heading {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color)
}

.newsletter__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--blue-color);
    }
}

.newsletter-btn {
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding-left: 16px;
}

.newsletter-btn__icon {
    margin-left: 24px;
}
}