@media screen and (min-width: 320px) and (max-width: 767px) {
    .grid__section {
        padding-top: 0;
    }

    .grid {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .card {
        // width: 100%;
        // height: auto;
        background: var(--white-color);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            cursor: pointer;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }

    .card__title {
        box-sizing: border-box;
        padding-left: 24px;
        padding-top: 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        background: var(--white-color);
        border: 1px solid var(--picture-list-border);
    }

    .card__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--grey-color);
    }

    .box {
        position: relative;
        overflow: hidden;

        &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }

        &:hover .overlay {
            transform: translateY(0);
        }
    }

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background: rgba(33, 150, 243, 0.9);
    }

    .overlay__text {
        padding: 49px 45px 49px 24px;
        margin: 0;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: var(--white-color);
    }
}

@media screen and (min-width: 1200px) {
    
.grid-section {
    padding-top: 0;
}

.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.grid__item {
    padding-bottom: 30px;
}

.card {
    width: 370px;
    height: auto;
    background: var(--white-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        cursor: pointer;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.card__title {
    box-sizing: border-box;
    padding-left: 24px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    background: var(--white-color);
    border: 1px solid var(--picture-list-border);
}

.card__description {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}

.box {
    position: relative;
    overflow: hidden;

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .overlay {
        transform: translateY(0);
    }
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(33, 150, 243, 0.9);
}

.overlay__text {
    padding: 49px 45px 49px 24px;
    margin: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
}