.team-section {
    background: var(--hero-background);
}

.team__heading {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.team__name {
    padding-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}

.team__card {
    height: 428px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.social__link {
    width: 44px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--social-icon);
    background-color: transparent;
    transition-property: fill, background-color; 
    transition-duration: 250ms; 
    transition-timing-function: (0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--white-color);
        background-color: var(--blue-color);
    }

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social__icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}