.welcome {
    display: flex;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                      url("../images/background/background_480.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

&__heading {
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.75;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}
}

.welcome__btn {
    width: 200px;
    height: 50px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .welcome {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                          url("../images/background/background_768.png");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
    .welcome {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                          url("../images/background/background_768@2.png");
    }
}

@media screen and (min-width: 1200px) {

.welcome {
    padding-top: 200px;
    padding-bottom: 200px;
}

.welcome__heading {
    font-size: 44px;
    line-height: 1.36;
}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) and (max-width: 1600px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px) and (max-width: 1600px),
screen and (min-resolution: 192dpi) and (min-width: 1200px) and (max-width: 1600px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) and (max-width: 1600px) {
    .welcome {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                          url("../images/background/background_1200@2.png");
    }
}