*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1600px;
    font-family: var(--main-font);
    color: var(--main-color);
}

// figure {
//     margin: 0;
//     padding: 0;
//     margin-block-start: 0;
//     margin-block-end: 0;
//     margin-inline-start: 0;
//     margin-inline-end: 0;
// }

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;  
}