:root {
    --main-font: 'Roboto',
        sans-serif;
    --secondary-font: 'Raleway',
        sans-serif;
    --main-color: #212121;
    --blue-color: #2196f3;
    --grey-color: #757575;
    --white-color: #ffffff;
    --black-color: #000000;
    --header-border: #ececec;
    --title-bg-overlay: #2f303a;
    --hero-background: #f5f4fa;
    --button-list-item-color: #f5f4fa;
    --icon-background: #f5f4fa;
    --picture-list-border: #eeeeee;
    --social-icon: #AFB1B8;
    --clients-icon: #AFB1B8;
    --footer-background: #2f303a;
    --footer-social-icons: rgba(255, 255, 255, 0.1);
}